[user]
	name = Jacek Królikowski
	email = nietaki@gmail.com
[core]
  excludesfile = /Users/nietaki/.gitignore_global
[alias]
  st = status
  br = branch
  co = checkout
  nuke = reset --hard HEAD
  set-upstream = branch --set-upstream-to
  amend = commit -a --amend
  ca = commit -a
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
